## Implementation

# Data Understanding



Import Libraries

In [1040]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as  px
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier

Reading data

In [1041]:
data = pd.read_csv("Data.csv",nrows=101)
data

,Id,Name,Gender,Field,Occupation,Age,Openness,Extraversion,Agreeableness,Conscientiousness,...,Interface_14,Interface_15,Interface_16,Interface_17,Extra_interface_1,Extra_interface_2,Test_Score,Top_1,Top_2,Top_3
0,1,Nouran khaled,Female,CS,Senior Student,21,3.0,2.0,4.0,5.0,...,7.0,7.0,7.0,6.0,7.0,5.0,Green,10,7,13
1,2,Tasneem Mohamed,Female,CS,Senior Student,21,4.0,5.0,3.0,2.0,...,8.0,8.0,7.0,8.0,6.0,9.0,Blue,6,7,13
2,3,Omaima Ahmed,Female,CS,Senior Student,23,5.0,4.0,3.0,3.0,...,5.0,7.0,7.0,9.0,6.0,7.0,Green,1,5,7
3,4,Maryam Walid,Female,CS,Student,20,4.0,3.0,5.0,5.0,...,7.0,7.0,8.0,7.5,6.5,9.0,Blue,19,16,13
4,5,Yehia Sameh,Male,CS,Student,19,4.0,2.0,3.0,5.0,...,6.0,7.0,6.0,8.0,NaN,NaN,Green,7,9,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,Yehia Abdallah,Male,Automatic Engineering,Senior Student,21,5.0,4.0,4.0,1.0,...,2.0,1.0,7.0,6.0,8.0,7.0,Gold,10,4,7
97,98,Yehia Abdallah,Male,Automatic Engineering,Senior Student,21,5.0,4.0,4.0,1.0,...,2.0,1.0,7.0,6.0,8.0,7.0,Green,10,4,7
98,99,Khaled Khatteb,Male,Business,Software developer,23,3.0,3.0,4.0,2.0,...,7.0,6.0,8.0,9.0,6.0,7.0,Gold,10,17,5
99,101,Mohamed Elbaz,Male,CS,Senior Student,21,3.0,1.0,3.0,1.0,...,5.0,6.0,5.0,8.0,4.0,4.0,Gold,10,17,7
100,102,Mohamed Elbaz,Male,CS,Senior Student,21,3.0,1.0,3.0,1.0,...,5.0,6.0,5.0,8.0,4.0,4.0,Green,10,17,7

In [1042]:
data.dtypes

Id                     int64
Name                  object
Gender                object
Field                 object
Occupation            object
Age                    int64
Openness             float64
Extraversion         float64
Agreeableness        float64
Conscientiousness    float64
Neuroticism          float64
Interface_1          float64
Interface_2          float64
Interface_3          float64
Interface_4          float64
Interface_5          float64
Interface_6          float64
Interface_7          float64
Interface_8          float64
Interface_9          float64
Interface_10         float64
Interface_11         float64
Interface_12         float64
Interface_13         float64
Interface_14         float64
Interface_15         float64
Interface_16         float64
Interface_17         float64
Extra_interface_1    float64
Extra_interface_2    float64
Test_Score            object
Top_1                  int64
Top_2                  int64
Top_3                  int64
dtype: object

In [1043]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 101 non-null    int64
 1   Name               101 non-null    object
 2   Gender             101 non-null    object
 3   Field              101 non-null    object
 4   Occupation         101 non-null    object
 5   Age                101 non-null    int64
 6   Openness           101 non-null    float64
 7   Extraversion       101 non-null    float64
 8   Agreeableness      101 non-null    float64
 9   Conscientiousness  101 non-null    float64
 10  Neuroticism        101 non-null    float64
 11  Interface_1        101 non-null    float64
 12  Interface_2        101 non-null    float64
 13  Interface_3        101 non-null    float64
 14  Interface_4        101 non-null    float64
 15  Interface_5        101 non-null    float64
 16  Interface_6        101 non-null    float64
 17  Interface_7        101 non-null    float64
 18  Interface_8        101 non-null    float64
 19  Interface_9        101 non-null    float64
 20  Interface_10       101 non-null    float64
 21  Interface_11       101 non-null    float64
 22  Interface_12       101 non-null    float64
 23  Interface_13       101 non-null    float64
 24  Interface_14       101 non-null    float64
 25  Interface_15       101 non-null    float64
 26  Interface_16       101 non-null    float64
 27  Interface_17       101 non-null    float64
 28  Extra_interface_1  94 non-null     float64
 29  Extra_interface_2  94 non-null     float64
 30  Test_Score         101 non-null    object
 31  Top_1              101 non-null    int64
 32  Top_2              101 non-null    int64
 33  Top_3              101 non-null    int64
dtypes: float64(24), int64(5), object(5)
memory usage: 27.0+ KB

In [1044]:
missing_values = data.isna().sum()/len(data)*100
missing_values

Id                   0.000000
Name                 0.000000
Gender               0.000000
Field                0.000000
Occupation           0.000000
Age                  0.000000
Openness             0.000000
Extraversion         0.000000
Agreeableness        0.000000
Conscientiousness    0.000000
Neuroticism          0.000000
Interface_1          0.000000
Interface_2          0.000000
Interface_3          0.000000
Interface_4          0.000000
Interface_5          0.000000
Interface_6          0.000000
Interface_7          0.000000
Interface_8          0.000000
Interface_9          0.000000
Interface_10         0.000000
Interface_11         0.000000
Interface_12         0.000000
Interface_13         0.000000
Interface_14         0.000000
Interface_15         0.000000
Interface_16         0.000000
Interface_17         0.000000
Extra_interface_1    6.930693
Extra_interface_2    6.930693
Test_Score           0.000000
Top_1                0.000000
Top_2                0.000000
Top_3                0.000000
dtype: float64

In [1045]:
data['Extra_interface_1'].fillna(value=data['Extra_interface_1'].mean(), inplace=True)

In [1046]:
data['Extra_interface_2'].fillna(value=data['Extra_interface_2'].mean(), inplace=True)

In [1047]:
missing_values = data.isna().sum()/len(data)*100
missing_values

Id                   0.0
Name                 0.0
Gender               0.0
Field                0.0
Occupation           0.0
Age                  0.0
Openness             0.0
Extraversion         0.0
Agreeableness        0.0
Conscientiousness    0.0
Neuroticism          0.0
Interface_1          0.0
Interface_2          0.0
Interface_3          0.0
Interface_4          0.0
Interface_5          0.0
Interface_6          0.0
Interface_7          0.0
Interface_8          0.0
Interface_9          0.0
Interface_10         0.0
Interface_11         0.0
Interface_12         0.0
Interface_13         0.0
Interface_14         0.0
Interface_15         0.0
Interface_16         0.0
Interface_17         0.0
Extra_interface_1    0.0
Extra_interface_2    0.0
Test_Score           0.0
Top_1                0.0
Top_2                0.0
Top_3                0.0
dtype: float64

In [1048]:
data['Test_Score'] .unique()

array(['Green', 'Blue', 'Gold', 'Orange'], dtype=object)

In [1049]:
Test= data['Test_Score']
Test

0      Green
1       Blue
2      Green
3       Blue
4      Green
       ...
96      Gold
97     Green
98      Gold
99      Gold
100    Green
Name: Test_Score, Length: 101, dtype: object

In [1050]:
# data['Test_Score'] = pd.factorize(data['Test_Score'])[0]

In [1051]:

data['Test_Score'].unique()

array(['Green', 'Blue', 'Gold', 'Orange'], dtype=object)

In [1052]:
data.describe()

,Id,Age,Openness,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Interface_1,Interface_2,Interface_3,...,Interface_13,Interface_14,Interface_15,Interface_16,Interface_17,Extra_interface_1,Extra_interface_2,Top_1,Top_2,Top_3
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,...,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.00000,101.000000
mean,51.019802,22.188119,4.019802,3.287129,3.524752,2.648515,3.351485,6.871287,6.061386,6.043564,...,7.415842,6.514851,6.490099,7.118812,7.978218,6.102128,6.161702,9.564356,10.80198,10.435644
std,29.334274,5.942580,0.851237,1.253688,0.881409,1.439695,1.231959,1.686199,1.920571,1.970960,...,1.918631,2.269863,2.303237,1.725034,1.760375,2.030467,2.054220,4.517557,5.28965,5.378505
min,1.000000,15.000000,2.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,2.000000,...,2.300000,1.000000,1.000000,1.000000,1.800000,1.000000,1.000000,1.000000,1.00000,1.000000
25%,26.000000,20.000000,3.000000,2.000000,3.000000,1.000000,3.000000,6.000000,5.000000,5.000000,...,6.000000,5.000000,5.000000,6.000000,7.000000,5.000000,5.000000,7.000000,7.00000,7.000000
50%,51.000000,21.000000,4.000000,3.000000,4.000000,3.000000,3.000000,7.000000,6.000000,6.000000,...,8.000000,7.000000,7.000000,7.000000,8.000000,6.102128,6.161702,10.000000,11.00000,10.000000
75%,76.000000,21.000000,5.000000,4.000000,4.000000,4.000000,4.000000,8.000000,7.000000,7.000000,...,9.000000,8.000000,8.000000,8.000000,9.000000,8.000000,8.000000,13.000000,16.00000,16.000000
max,102.000000,57.000000,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,19.000000,19.00000,19.000000

# Statistical analysis

In [1053]:
corr = data.corr().round(2)
corr.style.background_gradient(cmap='Pastel1')

In [1054]:
data.value_counts('Test_Score')

Test_Score
Gold      31
Blue      26
Orange    25
Green     19
dtype: int64

In [1055]:
data.value_counts('Age')

Age
21    51
20    12
19    10
22     8
23     5
18     3
24     3
15     1
25     1
26     1
27     1
37     1
38     1
46     1
52     1
57     1
dtype: int64

Green

In [1056]:
data[data["Test_Score"] == 'Green'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_12752\1970546907.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data[data["Test_Score"] == 'Green'].mean()

Id                   50.894737
Age                  21.052632
Openness              4.000000
Extraversion          2.605263
Agreeableness         3.421053
Conscientiousness     3.026316
Neuroticism           3.105263
Interface_1           6.868421
Interface_2           6.168421
Interface_3           5.757895
Interface_4           6.094737
Interface_5           6.736842
Interface_6           5.784211
Interface_7           7.105263
Interface_8           5.310526
Interface_9           5.421053
Interface_10          8.868421
Interface_11          6.605263
Interface_12          5.405263
Interface_13          7.463158
Interface_14          5.736842
Interface_15          5.789474
Interface_16          6.500000
Interface_17          7.594737
Extra_interface_1     5.747480
Extra_interface_2     6.466405
Top_1                 7.947368
Top_2                 9.578947
Top_3                 9.894737
dtype: float64

Blue

In [1057]:
data[data["Test_Score"] =='Blue'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_12752\1840025710.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data[data["Test_Score"] =='Blue'].mean()

Id                   46.615385
Age                  24.230769
Openness              4.096154
Extraversion          3.692308
Agreeableness         3.769231
Conscientiousness     2.423077
Neuroticism           3.384615
Interface_1           7.019231
Interface_2           5.865385
Interface_3           6.134615
Interface_4           6.269231
Interface_5           7.057692
Interface_6           5.653846
Interface_7           7.096154
Interface_8           4.288462
Interface_9           4.038462
Interface_10          8.115385
Interface_11          7.076923
Interface_12          6.250000
Interface_13          7.615385
Interface_14          6.500000
Interface_15          6.634615
Interface_16          7.384615
Interface_17          7.961538
Extra_interface_1     6.180933
Extra_interface_2     5.897054
Top_1                10.269231
Top_2                11.038462
Top_3                10.730769
dtype: float64

Gold

In [1058]:
data[data["Test_Score"] == 'Gold'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_12752\833616502.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data[data["Test_Score"] == 'Gold'].mean()

Id                   54.516129
Age                  22.096774
Openness              4.080645
Extraversion          3.516129
Agreeableness         3.564516
Conscientiousness     2.467742
Neuroticism           3.548387
Interface_1           6.725806
Interface_2           6.064516
Interface_3           6.112903
Interface_4           6.725806
Interface_5           6.532258
Interface_6           5.354839
Interface_7           7.161290
Interface_8           4.564516
Interface_9           4.596774
Interface_10          8.661290
Interface_11          6.654839
Interface_12          6.096774
Interface_13          7.603226
Interface_14          6.854839
Interface_15          6.774194
Interface_16          7.516129
Interface_17          8.000000
Extra_interface_1     6.684008
Extra_interface_2     6.268497
Top_1                 9.903226
Top_2                11.806452
Top_3                10.774194
dtype: float64

Orange

In [1059]:
data[data["Test_Score"] == 'Orange'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_12752\457423195.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data[data["Test_Score"] == 'Orange'].mean()

Id                   51.360000
Age                  21.040000
Openness              3.880000
Extraversion          3.100000
Agreeableness         3.300000
Conscientiousness     2.820000
Neuroticism           3.260000
Interface_1           6.900000
Interface_2           6.180000
Interface_3           6.080000
Interface_4           5.880000
Interface_5           6.600000
Interface_6           5.760000
Interface_7           6.820000
Interface_8           5.140000
Interface_9           4.900000
Interface_10          8.300000
Interface_11          7.340000
Interface_12          5.400000
Interface_13          6.940000
Interface_14          6.700000
Interface_15          6.520000
Interface_16          6.820000
Interface_17          8.260000
Extra_interface_1     5.568170
Extra_interface_2     6.072936
Top_1                 9.640000
Top_2                10.240000
Top_3                10.120000
dtype: float64

In [1060]:
Data=data

# convert from ratings into 0 if smaller than 6 and else 1

In [1061]:
Data['Interface_2'] = data['Interface_2'].apply(lambda x: 1 if x >= 6 else 0) 
Data['Interface_6'] = data['Interface_6'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_8'] = data['Interface_8'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_9'] = data['Interface_9'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_12'] = data['Interface_12'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_14'] = data['Interface_14'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Extra_interface_1'] = data['Extra_interface_1'].apply(lambda x: 1 if x >= 6 else 0)

In [1062]:
Data['Interface_7'] = data['Interface_7'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_10'] = data['Interface_10'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_11'] = data['Interface_11'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_13'] = data['Interface_13'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_16'] = data['Interface_16'].apply(lambda x: 1 if x >= 6 else 0)   
Data['Interface_17'] = data['Interface_17'].apply(lambda x: 1 if x >= 6 else 0)

In [1063]:
New = Data.drop(['Name','Occupation','Gender','Field','Top_1','Top_2','Top_3','Id','Interface_1','Interface_3','Interface_4','Interface_5','Interface_15','Extra_interface_2'],axis = 1)
New

,Age,Openness,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Interface_2,Interface_6,Interface_7,Interface_8,Interface_9,Interface_10,Interface_11,Interface_12,Interface_13,Interface_14,Interface_16,Interface_17,Extra_interface_1,Test_Score
0,21,3.0,2.0,4.0,5.0,4.0,1,0,1,1,1,1,1,1,1,1,1,1,1,Green
1,21,4.0,5.0,3.0,2.0,1.0,1,1,1,0,0,1,1,1,1,1,1,1,1,Blue
2,23,5.0,4.0,3.0,3.0,3.0,1,1,1,1,0,1,1,1,1,0,1,1,1,Green
3,20,4.0,3.0,5.0,5.0,1.0,0,0,1,0,0,0,1,1,1,1,1,1,1,Blue
4,19,4.0,2.0,3.0,5.0,5.0,0,1,1,0,1,1,1,0,1,1,1,1,1,Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,0,1,1,1,1,0,1,1,1,Gold
97,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,0,1,1,1,1,0,1,1,1,Green
98,23,3.0,3.0,4.0,2.0,3.0,0,1,1,1,1,1,1,0,1,1,1,1,1,Gold
99,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,0,1,0,0,1,0,0,1,0,Gold
100,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,0,1,0,0,1,0,0,1,0,Green

In [1064]:
# Score = pd.get_dummies(Data['Test_Score'],drop_first=True)
# Score

In [1065]:
New['Test_Score'] = pd.factorize(New['Test_Score'])[0]

# Machine learning using selected interfaces

In [1066]:
y = New['Test_Score']
y
x = New.drop(['Test_Score'],axis = 1)
x
Y= y.values
X=x.values

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3,random_state=20)

In [1067]:
lgr= LogisticRegression(solver="liblinear")

model =lgr.fit(x_train,y_train)
y_pred_lgr= model.predict(x_test)
accuracy_score(y_test, y_pred_lgr)*100

32.25806451612903

In [1068]:
tree=DecisionTreeClassifier()
tree_model=tree.fit(x_train, y_train)
y_pred_tree=tree_model.predict(x_test)
accuracy_score(y_test, y_pred_tree)*100

41.935483870967744

In [1069]:
svc=svm.SVC()
model_svc= svc.fit(x_train, y_train)
y_pred_svc= model_svc.predict(x_test)
accuracy_score(y_test, y_pred_svc)*100

35.483870967741936

In [1070]:
regressor =RandomForestClassifier()
model_rf =regressor.fit(x_train,y_train)
y_pred_rf= model.predict(x_test)
accuracy_score(y_test, y_pred_rf)*100

32.25806451612903

In [1071]:
knn=KNeighborsClassifier(n_neighbors=30, algorithm='kd_tree')
knn_model=knn.fit(x_train, y_train)
y_pred_KNN= knn_model.predict(x_test)
accuracy_score(y_test, y_pred_KNN)*100

35.483870967741936

In [1072]:
scaler=StandardScaler()
scaler.fit(x_train)
X_scaled=scaler.transform(x_train)
test_scaled=scaler.transform(x_test)
mlpc=MLPClassifier().fit(X_scaled, y_train)
y_pred_networks=mlpc.predict(test_scaled)
accuracy_score(y_test,y_pred_networks)*100

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

35.483870967741936

In [1073]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred_nav = gnb.predict(x_test)
accuracy_score(y_test, y_pred_nav)*100

19.35483870967742

In [1074]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import ExtraTreeClassifier
from xgboost import XGBClassifier

ext =ExtraTreeClassifier()
ext.fit(x_train, y_train)
y_pred_ex = ext.predict(x_test)
print (accuracy_score(y_test, y_pred_ex)*100)

ada=AdaBoostClassifier()
ada.fit(x_train, y_train)
y_pred_ada= ada.predict(x_test)
print (accuracy_score(y_test, y_pred_ada)*100)

xbg= XGBClassifier()
xbg.fit(x_train, y_train)
y_pred_gb = xbg.predict(x_test)
print (accuracy_score(y_test, y_pred_gb)*100)

29.03225806451613
29.03225806451613
32.25806451612903

In [1075]:
from sklearn.naive_bayes import MultinomialNB


model = MultinomialNB()

model.fit(x_train, y_train)
predictions = model.predict(x_test)
accuracy = accuracy_score(y_test, predictions) * 100
print("The accuracy was %.2f%%" % accuracy)

The accuracy was 29.03%

# GReen

In [1076]:
New1 = Data.drop(['Name','Occupation','Gender','Field','Top_1','Top_2','Top_3','Id','Interface_1','Interface_3','Interface_4','Interface_5','Interface_15','Extra_interface_2'],axis = 1)

In [1077]:
Green_data= New1
Green_data

,Age,Openness,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Interface_2,Interface_6,Interface_7,Interface_8,Interface_9,Interface_10,Interface_11,Interface_12,Interface_13,Interface_14,Interface_16,Interface_17,Extra_interface_1,Test_Score
0,21,3.0,2.0,4.0,5.0,4.0,1,0,1,1,1,1,1,1,1,1,1,1,1,Green
1,21,4.0,5.0,3.0,2.0,1.0,1,1,1,0,0,1,1,1,1,1,1,1,1,Blue
2,23,5.0,4.0,3.0,3.0,3.0,1,1,1,1,0,1,1,1,1,0,1,1,1,Green
3,20,4.0,3.0,5.0,5.0,1.0,0,0,1,0,0,0,1,1,1,1,1,1,1,Blue
4,19,4.0,2.0,3.0,5.0,5.0,0,1,1,0,1,1,1,0,1,1,1,1,1,Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,0,1,1,1,1,0,1,1,1,Gold
97,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,0,1,1,1,1,0,1,1,1,Green
98,23,3.0,3.0,4.0,2.0,3.0,0,1,1,1,1,1,1,0,1,1,1,1,1,Gold
99,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,0,1,0,0,1,0,0,1,0,Gold
100,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,0,1,0,0,1,0,0,1,0,Green

In [1078]:
New1['Test_Score'].unique()

array(['Green', 'Blue', 'Gold', 'Orange'], dtype=object)

In [1079]:
dummy_df = pd.get_dummies(Green_data, columns=['Test_Score'])
dummy_df

,Age,Openness,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Interface_2,Interface_6,Interface_7,Interface_8,...,Interface_12,Interface_13,Interface_14,Interface_16,Interface_17,Extra_interface_1,Test_Score_Blue,Test_Score_Gold,Test_Score_Green,Test_Score_Orange
0,21,3.0,2.0,4.0,5.0,4.0,1,0,1,1,...,1,1,1,1,1,1,0,0,1,0
1,21,4.0,5.0,3.0,2.0,1.0,1,1,1,0,...,1,1,1,1,1,1,1,0,0,0
2,23,5.0,4.0,3.0,3.0,3.0,1,1,1,1,...,1,1,0,1,1,1,0,0,1,0
3,20,4.0,3.0,5.0,5.0,1.0,0,0,1,0,...,1,1,1,1,1,1,1,0,0,0
4,19,4.0,2.0,3.0,5.0,5.0,0,1,1,0,...,0,1,1,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,...,1,1,0,1,1,1,0,1,0,0
97,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,...,1,1,0,1,1,1,0,0,1,0
98,23,3.0,3.0,4.0,2.0,3.0,0,1,1,1,...,0,1,1,1,1,1,0,1,0,0
99,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
100,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0

In [1080]:
Green_data=dummy_df
Green_data

,Age,Openness,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Interface_2,Interface_6,Interface_7,Interface_8,...,Interface_12,Interface_13,Interface_14,Interface_16,Interface_17,Extra_interface_1,Test_Score_Blue,Test_Score_Gold,Test_Score_Green,Test_Score_Orange
0,21,3.0,2.0,4.0,5.0,4.0,1,0,1,1,...,1,1,1,1,1,1,0,0,1,0
1,21,4.0,5.0,3.0,2.0,1.0,1,1,1,0,...,1,1,1,1,1,1,1,0,0,0
2,23,5.0,4.0,3.0,3.0,3.0,1,1,1,1,...,1,1,0,1,1,1,0,0,1,0
3,20,4.0,3.0,5.0,5.0,1.0,0,0,1,0,...,1,1,1,1,1,1,1,0,0,0
4,19,4.0,2.0,3.0,5.0,5.0,0,1,1,0,...,0,1,1,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,...,1,1,0,1,1,1,0,1,0,0
97,21,5.0,4.0,4.0,1.0,4.0,0,0,1,1,...,1,1,0,1,1,1,0,0,1,0
98,23,3.0,3.0,4.0,2.0,3.0,0,1,1,1,...,0,1,1,1,1,1,0,1,0,0
99,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
100,21,3.0,1.0,3.0,1.0,3.0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0

In [1081]:
Green_data = Green_data.drop(["Interface_2","Interface_6","Extra_interface_1","Interface_16","Interface_11","Test_Score_Blue","Test_Score_Gold","Test_Score_Orange"],axis=1)
Green_data

,Age,Openness,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Interface_7,Interface_8,Interface_9,Interface_10,Interface_12,Interface_13,Interface_14,Interface_17,Test_Score_Green
0,21,3.0,2.0,4.0,5.0,4.0,1,1,1,1,1,1,1,1,1
1,21,4.0,5.0,3.0,2.0,1.0,1,0,0,1,1,1,1,1,0
2,23,5.0,4.0,3.0,3.0,3.0,1,1,0,1,1,1,0,1,1
3,20,4.0,3.0,5.0,5.0,1.0,1,0,0,0,1,1,1,1,0
4,19,4.0,2.0,3.0,5.0,5.0,1,0,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,21,5.0,4.0,4.0,1.0,4.0,1,1,0,1,1,1,0,1,0
97,21,5.0,4.0,4.0,1.0,4.0,1,1,0,1,1,1,0,1,1
98,23,3.0,3.0,4.0,2.0,3.0,1,1,1,1,0,1,1,1,0
99,21,3.0,1.0,3.0,1.0,3.0,1,0,0,1,0,1,0,1,0
100,21,3.0,1.0,3.0,1.0,3.0,1,0,0,1,0,1,0,1,1

In [1082]:
y=Green_data['Test_Score_Green']
x=Green_data[Green_data.columns[6:14]].values
x

array([[1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 1, 0, 1, 1, 1, 0, 1],
       [1, 0, 0, 0, 1, 1, 1, 1],
       [1, 0, 1, 1, 0, 1, 1, 1],
       [1, 1, 0, 1, 0, 0, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 1, 0, 1, 1],
       [1, 1, 1, 1, 1, 0, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 0, 1, 1, 1, 0],
       [0, 0, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 0, 1],
       [1, 0, 1, 1, 0, 1, 0, 1],
       [1, 0, 0, 0, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 1, 0],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 0, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 1, 1, 1],
       [0, 0, 0, 1, 0, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 1, 0, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 0, 1],
       [1, 1, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 1, 0],
       [0, 0, 0, 1, 0, 1, 1, 0],
       [1, 0, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 0, 1, 1],
       [1, 0, 1, 1, 1, 1, 1, 0],
       [0, 0, 0, 1, 1, 1, 1, 1],
       [1, 0, 1, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 1, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 1, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 0, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 1, 0, 1, 1],
       [0, 0, 0, 1, 0, 0, 0, 1],
       [1, 1, 0, 1, 1, 1, 0, 1],
       [0, 1, 1, 1, 0, 1, 0, 0],
       [1, 1, 0, 1, 1, 0, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 1, 1, 1, 1],
       [0, 1, 0, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 0, 0, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [0, 0, 0, 0, 1, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 1, 1, 0, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 1, 1, 0, 1],
       [1, 1, 0, 1, 1, 1, 0, 1],
       [1, 1, 0, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 0, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 0, 1, 0, 1]], dtype=int64)

In [1083]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state=0)

In [1099]:
lgr= LogisticRegression(solver="liblinear")
model =lgr.fit(x_train,y_train)
y_pred_lgr= model.predict(x_test)
accuracy_score(y_test, y_pred_lgr)*100

32.25806451612903

In [1100]:
tree=DecisionTreeClassifier()
tree_model=tree.fit(x_train, y_train)
y_pred_tree=tree_model.predict(x_test)
accuracy_score(y_test, y_pred_tree)*100

32.25806451612903

In [1101]:
svc=svm.SVC()
model_svc= svc.fit(x_train, y_train)
y_pred_svc= model_svc.predict(x_test)
accuracy_score(y_test, y_pred_svc)*100

22.58064516129032

In [1102]:
regressor =RandomForestClassifier()
model_rf =regressor.fit(x_train,y_train)
y_pred_rf= model.predict(x_test)
accuracy_score(y_test, y_pred_rf)*100

32.25806451612903

In [1103]:

knn=KNeighborsClassifier(n_neighbors=30, algorithm='kd_tree')
knn_model=knn.fit(x_train, y_train)
y_pred_KNN= knn_model.predict(x_test)
accuracy_score(y_test, y_pred_KNN)*100

32.25806451612903

In [1104]:
scaler=StandardScaler()
scaler.fit(x_train)
X_scaled=scaler.transform(x_train)
test_scaled=scaler.transform(x_test)
mlpc=MLPClassifier().fit(X_scaled, y_train)
y_pred_networks=mlpc.predict(test_scaled)
accuracy_score(y_test, y_pred_networks)*100

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

25.806451612903224

In [1105]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred_nav = gnb.predict(x_test)
accuracy_score(y_test, y_pred_nav)*100

16.129032258064516

In [1106]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import ExtraTreeClassifier
from xgboost import XGBClassifier
ext =ExtraTreeClassifier()
ext.fit(x_train, y_train)
y_pred_ex = ext.predict(x_test)
print (accuracy_score(y_test, y_pred_ex)*100)

ada=AdaBoostClassifier()
ada.fit(x_train, y_train)
y_pred_ada= ada.predict(x_test)
print (accuracy_score(y_test, y_pred_ada)*100)

xbg= XGBClassifier()
xbg.fit(x_train, y_train)
y_pred_gb = xbg.predict(x_test)
print (accuracy_score(y_test, y_pred_gb)*100)

25.806451612903224
22.58064516129032
32.25806451612903

In [1107]:
from sklearn.naive_bayes import MultinomialNB


model = MultinomialNB()

model.fit(x_train, y_train)
predictions = model.predict(x_test)
accuracy = accuracy_score(y_test, predictions) * 100
print("The accuracy was %.2f%%" % accuracy)

The accuracy was 29.03%

# Blue

In [1084]:
Blue_data= data[data["Test_Score"] == 1]
Blue_data

Empty DataFrame
Columns: [Id, Name, Gender, Field, Occupation, Age, Openness, Extraversion, Agreeableness, Conscientiousness, Neuroticism, Interface_1, Interface_2, Interface_3, Interface_4, Interface_5, Interface_6, Interface_7, Interface_8, Interface_9, Interface_10, Interface_11, Interface_12, Interface_13, Interface_14, Interface_15, Interface_16, Interface_17, Extra_interface_1, Extra_interface_2, Test_Score, Top_1, Top_2, Top_3]
Index: []

[0 rows x 34 columns]

# GOld

In [1085]:
Gold_data= data[data["Test_Score"] == 2]
Gold_data

Empty DataFrame
Columns: [Id, Name, Gender, Field, Occupation, Age, Openness, Extraversion, Agreeableness, Conscientiousness, Neuroticism, Interface_1, Interface_2, Interface_3, Interface_4, Interface_5, Interface_6, Interface_7, Interface_8, Interface_9, Interface_10, Interface_11, Interface_12, Interface_13, Interface_14, Interface_15, Interface_16, Interface_17, Extra_interface_1, Extra_interface_2, Test_Score, Top_1, Top_2, Top_3]
Index: []

[0 rows x 34 columns]

# Orange

In [1086]:
Orange_data= data[data["Test_Score"] == 3]
Orange_data

Empty DataFrame
Columns: [Id, Name, Gender, Field, Occupation, Age, Openness, Extraversion, Agreeableness, Conscientiousness, Neuroticism, Interface_1, Interface_2, Interface_3, Interface_4, Interface_5, Interface_6, Interface_7, Interface_8, Interface_9, Interface_10, Interface_11, Interface_12, Interface_13, Interface_14, Interface_15, Interface_16, Interface_17, Extra_interface_1, Extra_interface_2, Test_Score, Top_1, Top_2, Top_3]
Index: []

[0 rows x 34 columns]

# Vector
 all interfaces in one array

In [1087]:
y=New['Test_Score']
x=New[New.columns[6:19]].values
x

array([[1, 0, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [0, 1, 1, ..., 1, 1, 1],
       [0, 0, 1, ..., 0, 1, 0],
       [0, 0, 1, ..., 0, 1, 0]], dtype=int64)

In [1088]:
Y= y
X=x

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3,random_state=20)

In [1089]:
lgr= LogisticRegression(solver="liblinear")

model =lgr.fit(x_train,y_train)
y_pred_lgr= model.predict(x_test)
accuracy_score(y_test, y_pred_lgr)*100

32.25806451612903

In [1090]:
tree=DecisionTreeClassifier()
tree_model=tree.fit(x_train, y_train)
y_pred_tree=tree_model.predict(x_test)
accuracy_score(y_test, y_pred_tree)*100

32.25806451612903

In [1091]:
svc=svm.SVC()
model_svc= svc.fit(x_train, y_train)
y_pred_svc= model_svc.predict(x_test)
accuracy_score(y_test, y_pred_svc)*100

22.58064516129032

In [1092]:
regressor =RandomForestClassifier()
model_rf =regressor.fit(x_train,y_train)
y_pred_rf= model.predict(x_test)
accuracy_score(y_test, y_pred_rf)*100

32.25806451612903

In [1093]:
knn=KNeighborsClassifier(n_neighbors=30, algorithm='kd_tree')
knn_model=knn.fit(x_train, y_train)
y_pred_KNN= knn_model.predict(x_test)
accuracy_score(y_test, y_pred_KNN)*100

32.25806451612903

In [1094]:
scaler=StandardScaler()
scaler.fit(x_train)
X_scaled=scaler.transform(x_train)
test_scaled=scaler.transform(x_test)
mlpc=MLPClassifier().fit(X_scaled, y_train)
y_pred_networks=mlpc.predict(test_scaled)
accuracy_score(y_test, y_pred_networks)*100

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

32.25806451612903

In [1095]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred_nav = gnb.predict(x_test)
accuracy_score(y_test, y_pred_nav)*100

16.129032258064516

In [1096]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import ExtraTreeClassifier
from xgboost import XGBClassifier


ext =ExtraTreeClassifier()
ext.fit(x_train, y_train)
y_pred_ex = ext.predict(x_test)
print (accuracy_score(y_test, y_pred_ex)*100)

ada=AdaBoostClassifier()
ada.fit(x_train, y_train)
y_pred_ada= ada.predict(x_test)
print (accuracy_score(y_test, y_pred_ada)*100)

xbg= XGBClassifier()
xbg.fit(x_train, y_train)
y_pred_gb = xbg.predict(x_test)
print (accuracy_score(y_test, y_pred_gb)*100)

29.03225806451613
22.58064516129032
32.25806451612903

In [1097]:
from sklearn.naive_bayes import MultinomialNB


model = MultinomialNB()

model.fit(x_train, y_train)
predictions = model.predict(x_test)
accuracy = accuracy_score(y_test, predictions) * 100
print("The accuracy was %.2f%%" % accuracy)

The accuracy was 29.03%